.contact-section {
  margin: auto;
  padding-top: 60px;
  padding-bottom: 120px;
  margin-top: 120px;
  position: relative;
  z-index: 5;
}

.contact-container {
  width: 100%;
}

.contact-section h3 {
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 50px;
  color: #eae5ec;
}

.contact-flex {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 40px;
}

.contact-box {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contact-box:last-child {
  justify-content: space-between;
}

.contact-flex h4 {
  font-weight: 500;
  margin: 0;
  opacity: 0.6;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact-flex p {
  margin-top: 10px;
  margin-bottom: 28px;
}

.contact-box p a {
  font-size: 20px;
  color: #eae5ec;
  transition: color 0.2s ease;
}

.contact-box p a:hover {
  color: var(--accentColor);
}

a.contact-social {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #eae5ec;
  transition: color 0.25s ease, border-color 0.25s ease;
}

a.contact-social:hover {
  color: var(--accentColor);
  border-bottom-color: var(--accentColor);
}

a.contact-social svg {
  font-size: 20px;
  transition: transform 0.2s ease;
}

a.contact-social:hover svg {
  transform: translate(3px, -3px);
}

.contact-box h2 {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.4;
  margin: 0;
}

.contact-box h2 > span {
  color: var(--accentColor);
}

.contact-box h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.5;
  margin: 0;
  margin-top: 20px;
}

@media only screen and (max-width: 1600px) {
  .contact-section h3 {
    font-size: 50px;
    margin-bottom: 40px;
  }
  .contact-box h2 {
    font-size: 20px;
  }
  a.contact-social {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1300px) {
  .contact-section h3 {
    font-size: 40px;
  }
  .contact-box h2 {
    font-size: 18px;
  }
  a.contact-social {
    font-size: 20px;
  }
  .contact-box p a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 900px) {
  .contact-flex {
    flex-direction: column;
    gap: 40px;
  }
  .contact-box:last-child {
    justify-content: flex-start;
    gap: 20px;
  }
  .contact-flex p {
    margin-bottom: 15px;
  }
  .contact-flex h4 {
    margin-top: 10px;
  }
  .contact-section {
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .contact-container {
    width: 100%;
  }
}
